## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()

# Add a variable for the files to load
vacation_file_load = os.path.join("..\Vacation_Search","WeatherPy_vacation.csv")

# Read the vacation Data
vacation_df = pd.read_csv(vacation_file_load)
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,2,Cheney,US,104.76,broken clouds,47.4874,-117.5758,"Holiday Inn Express & Suites Cheney, an IHG Hotel"
1,3,Mitsamiouli,KM,76.32,clear sky,-11.3847,43.2844,Foyer ADM
2,4,Korla,CN,84.04,overcast clouds,41.7597,86.1469,Gulisitan Hotel
3,5,Krasnoselkup,RU,53.47,broken clouds,65.7000,82.4667,Krasnosel'kupnefteprodukt
4,9,Ribeira Grande,PT,71.38,few clouds,38.5167,-28.7000,Quinta da Meia Eira
5,10,Miri,MY,74.44,broken clouds,4.4148,114.0089,"Mega Hotel, Miri"
6,11,Flagstaff,US,76.32,scattered clouds,35.1981,-111.6513,Drury Inn & Suites Flagstaff
7,12,Broome,US,66.69,clear sky,42.2506,-75.8330,Chenango Valley State Park
8,13,Victoria,HK,84.38,light rain,22.2855,114.1577,Mini Hotel Central
9,14,Bathsheba,BB,83.01,scattered clouds,13.2167,-59.5167,Atlantis Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current weather</dt><dd>{Current description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df['City'] == "Grafton"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Grafton"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Broome"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Jamestown"]
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Bethel"]

In [28]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].to_numpy(),vacation_start["Lng"].to_numpy())
start = np.array(start)
end = (vacation_end["Lat"].to_numpy(),vacation_end["Lng"].to_numpy())
stop1 = (vacation_stop1["Lat"].to_numpy(),vacation_stop1["Lng"].to_numpy())
stop1 = np.array(stop1)
stop2 = (vacation_stop2["Lat"].to_numpy(),vacation_stop2["Lng"].to_numpy())
stop3 = (vacation_stop3["Lat"].to_numpy(),vacation_stop3["Lng"].to_numpy())
waypoints = [stop1,stop2,stop3]





print(len(start))
print(start[0])
print(start[1])
print(type(start))
print(len(end))
print(end[0])
print(end[1])
print(len(stop1))
print(stop1)
print(len(stop2))
print(stop2[0])
print(stop2[1])
print(len(stop3))
print(stop3[0])
print(stop3[1])
print(len(waypoints))

starts = (42.207,-71.6856)
ends = (42.207,-71.6856)
stop1s = (42.2506, -75.833)
stop2s = (42.097, -79.2353)
stop3s = (41.3712, -73.414)
waypointX = [stop1s,stop2s,stop3s]

2
[42.207]
[-71.6856]
<class 'numpy.ndarray'>
2
[42.207]
[-71.6856]
2
[[ 42.2506]
 [-75.833 ]]
2
[42.097]
[-79.2353]
2
[41.3712]
[-73.414]
3

In [29]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

direction_layer = gmaps.directions_layer(starts, ends, waypoints=waypointX, travel_mode='DRIVING',show_route=True,show_markers=True)

In [30]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,546,Grafton,US,74.71,clear sky,42.2070,-71.6856,The Grafton Inn
1,12,Broome,US,66.69,clear sky,42.2506,-75.8330,Chenango Valley State Park
2,58,Jamestown,US,68.72,scattered clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,41,Bethel,US,77.58,few clouds,41.3712,-73.4140,Courtyard by Marriott Danbury

In [31]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current weather</dt><dd>{Current description} and {Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(starts), zoom_level=6)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(direction_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))